@model Publicworks.Entities.Projects.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>ProjectViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectScope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectScope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendaSetting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaSetting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssemblyApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssemblyApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertiseForBid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertiseForBid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalBidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalBidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidOpening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidOpening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantBidAward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantBidAward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionBidAward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionBidAward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeToProceed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeToProceed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubstantialCompletion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubstantialCompletion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalInspection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalInspection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyPeriodEnds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyPeriodEnds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractAmendments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractAmendments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeOrders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeOrders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentDesignComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentDesignComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentConstructionComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentConstructionComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchitectEngineer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchitectEngineer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secretary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secretary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
