@model IEnumerable<Publicworks.Entities.Projects.ViewModels.ProjectViewIndexModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ActiveProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ActiveProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveDate)
        </td>
        <td>
            @Html.ActionLink("Summary", "Summary", new {  id=item.ProjectID }) |
            @Html.ActionLink("Details", "Detail", new { id=item.ProjectID  })
        </td>
    </tr>
}

</table>
